body {
  text-align: center;
}

h1 {
  color: #333;
}

#word-display {
  font-size: 24px;
  margin: 10px 0;
}

#guessed-letters {
  margin-bottom: 0px;
}

#keyboard {
  margin-top: 0px;
  margin-bottom: 10px;
}

.keyboard-row {
  margin-bottom: 5px;
}

.keyboard-letter {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

#new-game-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#new-game-btn:hover {
  background-color: #555;
}

#new-game-btn.special {
  background-color: #ff6600;
}

body {
  overflow: hidden;
}

.container {
  width: 600px;
  margin: 10px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
  max-height: 92vh;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: backgroundAnimation 20s infinite linear;
}

@keyframes backgroundAnimation {
  0% {
    background-color:yellow;
  }
  25% {
    background-color:yellowgreen;
  }
  50% {
    background-color: orange;
  }
  75% {
    background-color: orangered;
  }
  100% {
    background-color: red;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    max-height: none;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }

  #hangman-canvas {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  #word-display {
    font-size: 18px;
  }

  .keyboard-letter {
    width: 25px;
    height: 25px;
    margin: 3px;
    font-size: 12px;
  }

  #new-game-btn {
    font-size: 16px;
    padding: 8px 16px;
  }
}
